body{
    background-color: black;
    color: yellow;
    padding: 0%;
    margin: 0%;
}
h1, h2{
    text-align: center;
}
section{
    border: 2px solid;
    border-color: yellow;
}
article{
    margin: 10px;
    border: 2px solid;
    border-color: yellow;
}
footer{
    background-color: blue;
    padding: 0%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.green-frame{
    border: 2px solid;
    border-color: #2cff05;
    margin: 5px;
    color: #2cff05;
}
.green-frame:hover{
    color: black;
    background-color: #2cff05;
    transition-property: background-color, color;
    transition-duration: 1s;
}
.blue-frame{
    border: 2px solid;
    border-color: #1F51FF;
    margin: 5px;
    color: #1F51FF;
}
.blue-frame:hover{
    color: black;
    background-color: #1F51FF;
    transition-property: background-color, color;
    transition-duration: 1s;
}
.yellow-frame{
    border: 2px solid;
    border-color: yellow;
    margin: 5px;
    color: yellow;
}
.yellow-frame:hover{
    color: black;
    background-color: yellow;
    transition-property: background-color, color;
    transition-duration: 1s;
}
.red-frame{
    border: 2px solid;
    border-color: #FF0C12;
    margin: 5px;
    color: #FF0C12;
}
.red-frame:hover{
    color: black;
    background-color: #FF0C12;
    transition-property: background-color, color;
    transition-duration: 1s;
}
.color-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* Dynamic article */
.article {
    border: 2px solid yellow;
    margin: 10px;
}
.article img {
    max-width: 100%;
    height: auto;
}